<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="System Testing" parallel="tests" thread-count="11">
    <parameter name="browser" value="chrome" />
    <parameter name="url" value="https://10.172.46.208/ui/" />
	<parameter name="userName" value="administrator@vsphere.local" />
	<parameter name="password" value="Admin!23" />
	
    <test verbose="2" name="TC1" enabled="true">
		<classes>
			<class name="scripts.TC1" />
		</classes>
	</test>
</suite>   